.about_card {
	background-color: var(--off-white);
	border-radius: 8px;
	padding: 1em;
}

.about_shop {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.about_shop h2 {
	text-align: center;
	font-size: 1.45em;
}

@media (width >= 768px) {
	.about_card {
		padding: 2.5em;
	}
}

@media (width >= 1024px) {
	.about_card {
		padding: 4em;
		line-height: 2.5em;
	}
}

@media (width >= 1440px) {
	.about_card {
		max-width: 70%;
		align-self: center;
		margin-top: 2em;
	}
}
