.testimonial_card {
	background-color: var(--secondary);
	padding: 1.5rem;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 1em;
	border: 1px solid var(--primary);
}
.testimonial_card p {
	align-self: flex-end;
}
.testimonial_card blockquote {
	position: relative;
	text-indent: .5em;
	z-index: 2;
	margin-top: .25em;
}
.quote {
	display: flex;
	flex-direction: column;
}
.quote::before {
	content: '"';
	font-family: "headings";
	position: absolute;
	color: var(--primary);
	font-size: 4.5em;
	padding-top: 16px;
	z-index: 1;
}

.testimonial_image {
	object-fit: contain;
}

.testimonial_image img {
	width: 100%;
	border-radius: 8px;
}

@media (width >= 768px) {
	.testimonial_card {
		flex-direction: row;
	}
	.quote {
		padding: 1.25em;
		justify-content: space-between;
	}
	.testimonial_card blockquote {
		text-indent: 1.25em;
	}
}

@media (width >= 1440px) {
	.testimonial_card {
		max-width: 50%;
		min-width: 760px;
		align-self: center;
		justify-self: center;
		box-sizing: border-box;
	}
}
