.no_items {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	margin-top: 8rem;
	padding-bottom: 8rem;
	border-bottom: 1px solid var(--secondary);
}

.shop_button {
	padding: 0.2rem 4em;
}
