footer {
	color: white;
	background-color: var(--dark);
}

footer small {
	font-size: 0.6em;
}

.copy {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-links {
	display: flex;
	gap: 1rem;
}

.site-links a {
	color: white;
	font-weight: 100;
	text-decoration: none;
	font-size: 0.8em;
}
