.state-postal {
	display: flex;
	gap: 1em;
}

.postal_details {
	display: flex;
	flex-direction: column;
	gap: 1em;
	background-color: var(--off-white);
	padding: 0.5em;
	border-radius: 8px;
	border: 1px solid var(--secondary);
}

.state-postal div {
	display: flex;
	flex-direction: column;
	width: 50%;
}
