.contact_card {
	display: flex;
	gap: 1em;
	padding: 1em;
	background-color: var(--secondary);
	border-radius: 8px;
	align-items: center;
	max-width: 480px;
}
.contact_img {
	display: flex;
	min-width: 25px;
}
.contact_card img {
	width: 100%;
}
